h1{
    text-align: center;
    font-family: "Love Ya Like A Sister", serif;
}

body{
    background-image: -webkit-linear-gradient(pink,rgb(174, 98, 111));
}

p{
    text-align: center;
    font-size:larger;
    font-family: "Roboto", serif;
    
}

footer {
    font-family: "Roboto", serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}